---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/topstories/v1/home.json?api-key=60ab88cd172848b89847a03038949c16
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
      Etag:
      - '"54da5de823a17cca250c38c6b77e3f5b"'
      Last-Modified:
      - Thu, 15 Dec 2016 21:22:33 GMT
      X-Amz-Request-Id:
      - CE7901CF1FA3AC74
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Limit-Second:
      - '5'
      X-Ratelimit-Remaining-Day:
      - '981'
      X-Ratelimit-Remaining-Second:
      - '3'
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2016 The New York Times Company.
        All Rights Reserved.","section":"home","last_updated":"2016-12-15T16:22:02-05:00","num_results":30,"results":[{"section":"U.S.","subsection":"Politics","title":"U.S.
        Struggles to Identify and Prosecute Russia Hackers","abstract":"Russia says
        American efforts to capture hackers may violate international law and it has
        shown that it will not be easily influenced by public shaming.\u201cYou can
        indict 400 people. They don\u2019t care,\u201d a former F.B.I. senior executive
        said.","url":"http:\/\/www.nytimes.com\/2016\/12\/15\/us\/politics\/russian-hackers-election.html","byline":"By
        ADAM GOLDMAN and MATT APUZZO","item_type":"Article","updated_date":"2016-12-15T15:48:46-5:00","created_date":"2016-12-15T15:48:46-5:00","published_date":"2016-12-15T15:48:46-5:00","material_type_facet":"News","kicker":"","des_facet":["Cyberwarfare
        and Defense","Computers and the Internet"],"org_facet":["Democratic National
        Committee","Federal Bureau of Investigation","Federal Security Service","Justice
        Department","LinkedIn Corporation"],"per_facet":["Nikulin, Yevgeniy Aleksandrovich"],"geo_facet":["Russia","Moscow
        (Russia)"],"multimedia":[{"url":"https:\/\/static01.nyt.com\/images\/2016\/12\/16\/us\/16hackers1\/16hackers1-thumbStandard.jpg","format":"Standard
        Thumbnail","height":75,"width":75,"type":"image","subtype":"photo","caption":"Robert
        E. Anderson Jr., center, served until last year as the F.B.I.\u2019s most
        senior executive overseeing computer investigations.","copyright":"Jim Lo
        Scalzo\/European Pressphoto Agency"},{"url":"https:\/\/static01.nyt.com\/images\/2016\/12\/16\/us\/16hackers1\/16hackers1-thumbLarge.jpg","format":"thumbLarge","height":150,"width":150,"type":"image","subtype":"photo","caption":"Robert
        E. Anderson Jr., center, served until last year as the F.B.I.\u2019s most
  [...]
[...]
